{% extends "layout.html" %}
{% block content %}

        <div class="row justify-content-center mx-auto my-5">
            <div class="col-12 align-items-center">
                <form action = "{{ url_for('results') }}" method = "POST">
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="internationalFlight">International Flight</label>
                            <input class="form-control" id="internationalFlight" name="internationalFlight" type="number" required/>
                        </div>
                        <div class="form-group col-6">
                            <label for="domesticFlight">Domestic Flight</label>
                            <input class="form-control" id="domesticFlight" name="domesticFlight" type="number" required/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-4">
                            <label for="train">Train</label>
                            <input id = "train" class="form-control" type = "number" required name = "train" />
                        </div>
                        <div class="form-group col-4">
                            <label for="Bus">Bus</label>
                            <input id = "bus" class="form-control" type = "number" required name = "bus" />
                        </div>
                        <div class="form-group col-4">
                            <label for="car">Car</label>
                            <input id = "car" class="form-control" type = "number" required name = "car" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12">
                            <input class="form-control" type = "submit" value = "submit" />
                        </div>
                    </div>
                </form>
            </div>
        </div>

{% endblock %}
